@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a444d018-9522-4322-a256-aec5406f540f/d90k7t9-bee7a29d-8e32-4d0f-89c5-fae35ad9a8db.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E0NDRkMDE4LTk1MjItNDMyMi1hMjU2LWFlYzU0MDZmNTQwZlwvZDkwazd0OS1iZWU3YTI5ZC04ZTMyLTRkMGYtODljNS1mYWUzNWFkOWE4ZGIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9x0Z56I533dw7syRSJ1DrinVW3cEX2YfKLCDUU6Uzlg);
    
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: 0%;
    margin-left: 40%;

    }

    h1{
        font-family: 'Amatic SC', cursive;
        text-align: right;
        font-size: 100px;
        color: whitesmoke;
        width: 85%;
    }

    ul a{
        color: whitesmoke;
        font: 40px;
        position: relative;
        left: 55%;
        top: 45%;
        font-family: 'Amatic SC', cursive;

    }
    ul a li{
        font-size: 28px;
    }
    