@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;

}

ul{
    font-size: 40px;
    color: whitesmoke;
    transform: translate(5%, -150%);
}

a li {
    color: whitesmoke;
    font-family: 'Amatic SC', cursive;


}