#whole {
  background-color: #56cfe1;
  text-align: center;
  padding: 20px;
  padding-left: 450px;
  padding-right: 450px;
  margin-left: 150px;
  margin-right: 150px;

  /*margin: 0.2em, 0;*/
  border-color: black;
  border-width: 5px;
  border-radius: 30px;
  margin: 70px;
}
#heading {
  text-align: center;
}
.form-check-input {
  text-align: center;
  display: flex;
}
#submit {
  margin-left: 100px;
  margin-right: 100px;
}
